<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <div class="container">
		<form action='.' method='POST'>
            {% csrf_token %}
            {% for key, value in form.errors.item %}
                {{value}}
            {% endfor %}
            <p><label>Tài khoản: </label>{{form.username}}</p>
            <p><label>Tài khoản: </label>{{form.password}}</p>
            <input type="hidden" name="next" value="/"/>
            <input type="submit" value="Đăng Nhập"/>
        </form>
	</div>
</body>
</html>